.task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .task-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1a1818;
    border-radius: 5px;
  }
  
  .add-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .add-button:hover {
    background-color: #022d04;
  }
  