.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(rgb(150, 150, 219), pink,rgb(171, 225, 171));
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
}

@media (max-width: 600px) {
  .app-container {
    max-width: 90%;
    padding: 10px;
    
  }
}
